body{
  background-color: indianred;
  background-image: url(images/santa_clara.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0em;
  padding: 0em;
}
div.one{
  width: 100%;
  height: 50em;
  font-family: 'Raleway', sans-serif;
  color: lightgrey;
  text-align: center;
}
div.intro{
  position: relative;
  top: 25em;
  width: 100%;
  height: 5em;
  background-color: rgba(255, 0, 0, 0.45)
}
#name{
  font-size: 36px;
}
#epithet{
  font-size: 18px;
}
div.two{
  width: 100%;
  height: 30em;
}
div.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.projects img{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 2px solid grey;
}
div.three{
  height: 15em;
}
div.contact{
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.contact img{
  border-radius: 25px;
  height: 20%;
  width: 20%;
}
