body{
  background-color: whitesmoke;
  background-image: url(images/santa_clara.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0em;
  padding: 0em;
  font-family: 'Raleway', sans-serif;
}
div.header{
  position: fixed;
  top: 0em;
  width: 100%;
  height: 2em;
  background-color: rgba(245, 245, 245, 0.95);
}
div.header a{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(220, 20, 60, 0.75);
  font-size: 30px;
}
div.one{
  width: 100%;
  height: 50em;
  color: whitesmoke;
  text-align: center;
}
div.intro{
  position: relative;
  top: 25em;
  width: 100%;
  height: 5em;
  background-color: rgba(255, 0, 0, 0.45)
}
#name{
  font-size: 36px;
}
#epithet{
  font-size: 18px;
}
div.footer{
  position: fixed;
  bottom: 0em;
  width: 100%;
  height: 2em;
  background-color: rgba(245, 245, 245, 0.95);
  }
div.blanket{
  height: 50em;
  width: 100%;
  background-color: lightgrey;
}
div.two{
  padding-top: 5em;
  width: 100%;
  height: 20em;
}
div.projects{
  display: flex;
  justify-content: space-around;
}
div.projects img{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid grey;
}
div.three{
  height: 15em;
}
div.contact{
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: whitesmoke;
  font-size: 30px;
}
div.contact a{
  color: whitesmoke;
  font-size: 75px;
}
div.contact img{
  display: block;
  border-radius: 25px;
  height: 18%;
  width: 18%;
}
